* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

.container {
  border: 4px black solid;
  padding: 0;
  width: 800px;
  height: 370px;
  margin: 50px auto;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  gap: 40px;
  height: 250px;
}

.shoes-img {
  width: 250px;
  height: 250px;
}

.product-section {
  margin-top: 20px;
  flex: 1;
}

.product-title {
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
}

.price-shipping {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.description {
  margin-top: 20px;
  font-size: 14px;
  margin-bottom: 10px;
}

.more-info:link {
  color: black;
}

.color {
  margin-top: 30px;
  display: flex;
  gap: 10px;
}

.color div {
  width: 22px;
  height: 22px;
}

.black {
  background-color: black;
}
.blue {
  background-color: #2f6ee2;
}
.red {
  background-color: #ec2f2f;
}
.yellow {
  background-color: #f0bf1e;
}
.green {
  background-color: #90cc20;
}
.brown {
  background-color: #885214;
}

.details-section {
  flex: 1;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.details-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.details-list li {
  margin-left: 20px;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  flex: 1;
  cursor: pointer;
  border: none;
}
.add-to-cart-btn:hover {
  background-color: white;
  color: black;
}
