* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 1.4;
}

.container {
  border: 4px black solid;
  padding: 0;
  width: 830px;
  margin: 50px auto;
}

main {
  height: 300px;
  width: 820px;
}

.product-title {
  font-size: 22px;
  text-align: center;
  background-color: #f7f7f7;
  text-transform: uppercase;
  padding: 15px;
  position: relative;
}

.shoes-img {
  width: 250px;
  height: auto;
  float: left;
}

.product-section {
  width: 250px;
  height: 200px;
  float: left;
  margin: 20px 30px 0;
}

.price {
  font-size: 24px;
  float: left;
  margin-bottom: 20px;
}

.shipping {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  float: right;
  margin-top: 10px;
}

.description {
  margin-bottom: 15px;
  clear: both;
}

.more-info:link,
.more-info:visited {
  color: black;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

.details-section {
  width: 230px;
  float: right;
  margin-right: 30px;
}

.details-title {
  text-transform: uppercase;
  margin-top: 28px;
  margin-bottom: 15px;
  font-size: 16px;
}

.details-list {
  list-style: square;
  margin-left: 20px;
  margin-bottom: 10px;
}

.details-list li {
  margin-bottom: 10px;
}
li:last-child {
  margin-bottom: 0;
}

.add-to-cart-btn {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  font-size: 20px;
  cursor: pointer;
  width: 822px;
  height: 50px;
  padding: 15px;
  clear: both;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: black;
}

.product-title::before {
  content: "SALE";
  background-color: #ec2f2f;
  font-size: 12px;
  letter-spacing: 2px;
  color: white;
  position: absolute;
  top: -17px;
  left: -38px;
  display: inline-block;
  padding: 7px 15px;
}

.color {
  margin-top: 30px;
}

.color div {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  display: inline-block;
}

.color div:last-child {
  margin-right: 0;
}

.black {
  background-color: black;
}
.blue {
  background-color: #2f6ee2;
}
.red {
  background-color: #ec2f2f;
}
.yellow {
  background-color: #f0bf1e;
}
.green {
  background-color: #90cc20;
}
.brown {
  background-color: #885214;
}
